<app-header></app-header>

<main>
    <div class="form-registration border">
        <form>
            <span>Preencha os dados para se cadastrar</span>
            <div class="registration-inputs">
                <input type="text" placeholder="e-mail*" class="border input">
                <input type="text" placeholder="nome de usuario*" class="border input">
                <input type="passaword" placeholder="senha*" class="border input">
                <input type="passaword" placeholder="confirmação de senha*" class="border input">
                <input type="submit" class="btn btn-success">
            </div>
        </form>
    </div>
</main>