.form-registration{
    translate: -50% -50%;
    position: absolute;
    left: 50%;
    top: 50%;
}

.registration-inputs{
    display: flex;
    flex-direction: column;
}

.input{
    margin: 5px;
}