.container-login{
    translate: -50% -50%;
    position: absolute;
    left: 50%;
    top: 50%;
    
}

.border{
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
}

.form-login{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.form-campo{
    margin: 5px;
}

.border:focus{
    border: none;
    outline: none;
}