.container-login{
    translate: -50% -50%;
    position: absolute;
    left: 50%;
    top: 50%;
    
}

.form-login{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.form-campo{
    margin: 5px;
}

