body{
    margin:0;
    padding: 0;
}

header{
    background-color: #198BCA;
    height: 3em;
}

.header-text{
    font-family: ;
    font-size: 30px;
    color: #F6F7F1;
}

.home{
    position: absolute;
}

.menu-header li{
    list-style: none;
}

.menu-header ul{ 
    margin: 0;
    padding: 1px;
    display: inline-block;
    font-size: 24px;
}

.menu-header{
    position: absolute;
    top: 0;
    right: 0;
}